# Data (CRITICAL - do not upload)
data/
Data/

# Outputs / results
outputs/

# Virtual environment
Ba_venv/
.venv/

# Python
__pycache__/
*.pyc

# Jupyter
.ipynb_checkpoints/

# System
.DS_Store

# Logs / temp
*.log